<h1>Some of the most inefficient ActiveRecord Querying ever.</h1>

<div class="stats-section">
  <div><h2>Most prolific author: <%= @prolific_author.name %></h2></div>
  <div><h2>Author with most upvoted article: <%= @author_with_most_upvoted_article %></h2></div>
  <p style="text-decoration: underline">Five longest article names:</p>
  <% @five_longest_article_names.each do |names| %>
    <h2><li> <%= names.name %> </li></h2>
  <% end %>

</div>


